{% extends 'base.html' %}
{% block title %} Inserir/Atualizar Evento {% endblock %}
{% block content %}
{% if post['id'] %}
<h1> Atualizando "{{ post['title'] }}" </h1>
{% else %}
<h1> Inserir novo Evento </h1>
{% endif %}

<form method="post">
    <div class="form-group">
        <label for="title">Evento</label>
        <input type="text" name="title"
               placeholder="Nome do Evento" class="form-control"
               value="{{ request.form['title'] or post['title'] }}"></input>
    </div>

    <div class="form-group">
        <label for="clipping">Status do evento </label></br>
        <select name="status_evento" id="status_evento">
        {% if post['status_evento'] == 'Em monitoramento' %}
            <option value="Em monitoramento" selected>Em monitoramento</option>
            <option value="Descartado">Descartado</option>
            <option value="Confirmado">Confirmado</option>
        {% elif post['status_evento'] == 'Descartado' %}
            <option value="Em monitoramento">Em monitoramento</option>
            <option value="Descartado" selected>Descartado</option>
            <option value="Confirmado">Confirmado</option>
        {% else %}
            <option value="Em monitoramento">Em monitoramento</option>
            <option value="Descartado">Descartado</option>
            <option value="Confirmado" selected>Confirmado</option>
        {% endif %}
        </select>
    </div>

    <div class="form-group">
        <label for="links">Endereço Eletrônico</label>
        <input type="text" name="links"
               placeholder="Digite aqui o endereço eletônico (link) do evento." class="form-control"
               value="{{ request.form['links'] or post['links'] }}"></input>
    </div>

    <div class="form-group">
        <label for="details">Detalhes</label>
        <textarea name="details" placeholder="Detalhes do evento"
                  class="form-control">{{ request.form['details'] or post ['details']}}</textarea>
    </div>
    
    <div class="form-group">
        <label for="clipping">Inserido no Clipping? </label></br>
    {% if post['clipping'] == 'True' %}    
        <input type="radio" name="clipping" id ='clipping' value=True checked> Sim </input>
        <input type="radio" name="clipping" id ='clipping' value=False> Não </input>
    {% elif post['clipping'] == 'False' %}
        <input type="radio" name="clipping" id ='clipping' value=True> Sim </input>
        <input type="radio" name="clipping" id ='clipping' value=False checked> Não </input>
    {% else %}
        <input type="radio" name="clipping" id ='clipping' value=True> Sim </input>
        <input type="radio" name="clipping" id ='clipping' value=False> Não </input>
    {% endif %}
    </div>

    <div class="form-group">
        <label for="cme">Evento apresentado ao CME (Comitê para Monitoramento de Eventos)?</label></br>
    {% if post['cme'] == 'True' %}
        <input type="radio" name="cme" id ='cme' value=True checked> Sim </input>
        <input type="radio" name="cme" id ='cme' value=False> Não </input>
    {% elif post['cme'] == 'False' %}
        <input type="radio" name="cme" id ='cme' value=True> Sim </input>
        <input type="radio" name="cme" id ='cme' value=False checked> Não </input>
    {% else %}
        <input type="radio" name="cme" id ='cme' value=True> Sim </input>
        <input type="radio" name="cme" id ='cme' value=False> Não </input>
    {% endif %}
    </div>

    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Gravar</button>
    </div>
</form>

{% if post['id'] %}
<hr>
<form action="{{ url_for('delete', id=post['id']) }}" method="post">
    <input type="submit" value="Excluir Evento"
            class="btn btn-danger"
            onclick="return confirm('Deseja realmente excluir o Evento ?')">
</form>
{% endif %}
{% endblock %}
