{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Vigilância Baseada em Eventos {% endblock %}</h1>
    <h5>Filtros: 
        <a href="{{ url_for('index_desc')}}"><span class="badge badge-secondary">Decrescente</span> </a> 
        <a href="{{ url_for('index_60')}}"><span class="badge badge-secondary">Até 60 dias</span> </a> 
    </h5> 
        {% for post in posts %}
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">Criado em {{ post['created'] }}</span>
        <span class="badge badge-primary">Atualizado em {{ post['updated'] }}</span>
        {% if g.user %}
            <a href="{{ url_for('edit', id=post['id']) }}">
                <span class="badge badge-warning">Editar</span>
            </a>
        {% endif %}
        <hr>
        {% endfor %}
{% endblock %}
